.label {
    -fx-text-fill: #f40000;
    -fx-font-weight: bold;
}

.root {
    -fx-background-image: url("/images/lezard.jpg");
    -fx-background-size: cover;
}

.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049;
}

.vbox {
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: center;
} 